.IntroContainerWrraper {
  padding-top: 10rem;
}
.TitleText {
  font-size: var(--mainHeading);
  font-weight: 800;
  text-align: center;
  margin: 0%;
}
.TitleTextWithBrush {
  position: relative;
}
.TitleSpan {
  color: var(--primaryColor);
}
.TitleIntro {
  font-size: var(--bigParagraph);
  font-weight: 400;
  text-align: center;
  width: 44rem;
  margin-top: 1rem;
}
.BrushImage {
  position: absolute;
  z-index: -1;
  width: 22rem;
  height: 3.5rem;
}
.MainIntroductionWrraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ButtonsWrraper {
  display: flex;
  margin-top: 1.5rem;
}
.ButtonsWrraper a {
  text-decoration: none;
}
.ButtonSpaces {
  margin-left: 2rem;
}
.ProcessWrraper {
  display: flex;
  padding-top: 10rem;
  justify-content: center;
}
/* .ProcessCover{} */
.ProcessTitle {
  margin: 1rem 0 0.8rem;
  text-align: center;
  font-weight: 700;
}
.ProcessDesc {
  font-size: var(--maxText);
  font-weight: 400;
  text-align: center;
  width: 12.25rem;
}
.ProcessImage {
  text-align: center;
}
.ArrowWrraper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.ArrowWrraperUp {
  margin-top: 1rem;
}
.ProcessMainDiv {
  display: flex;
  flex-direction: column;
}
.processIcon {
  transition: all 2s ease;
  width: 50px;
}
.processIcon:hover {
  transform: scale(1.1);
  transition: all 2s ease;
}
.MobileProcessList {
  display: none;
}
.animationSection {
  overflow: hidden;
  width: 100%;
  height: 8rem;
}
@media screen and (max-width: 600px) {
  .TitleIntro {
    width: 100%;
  }
  .TitleText {
    font-size: var(--mainMobHeadingCopy);
  }
  .BrushImage {
    position: absolute;
    z-index: -1;
    width: 15rem;
    height: 2.5rem;
  }
  .ButtonsWrraper {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .ButtonSpaces {
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
  .ProcessWrraper {
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
  }
  .ArrowWrraper {
    display: none;
    /* transform: rotate(90deg); */
  }
  .ArrowWrraperUp {
    display: none;
  }
  .RightArrowMob {
    position: relative;
    left: 11rem;
  }
  .IntroContainerWrraper {
    padding-bottom: 4rem;
  }
  .MobileProcessList {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .ArrowWrraper,
  .ArrowWrraperUp {
    width: 2rem;
  }
  .ProcessDesc {
    width: 11rem;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
