.ContainerWrraperHighlight{
    padding: 0rem 0 3rem 0;
}
.HighlightHeadCover{
    padding: 4rem 0;
}
.HighlightsWrraper{
    display: flex;
    justify-content: space-between;
}
.HighlightImage{
    width: fit-content;
}
.Highlights{
    padding:var(--layoutSpace);
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    background: var(--sideColor);
}
.HighlightHeading{
    font-size: var(--mainHeading);
    font-weight: 800;
    text-align: center;
}
.BrushSetup{
    position: absolute;
    z-index: -1;
}
.UniqueLabel{
    color: var(--primaryColor);
}