.ContainerWrraperCustom {
  padding-top: 7rem;
  padding-bottom: 0%;
  /* background: var(--elementColor); */
  background: transparent;
}
.MainTitle {
  font-size: var(--mainHeading);
  font-weight: 800;
  color: var(--primaryColor);
  margin: 0%;
}
.SpanImage {
  text-align: right;
  position: relative;
  top: 0rem;
  right: -10.5rem;
}
.MainIntroAndDiscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MainParagraph {
  font-size: var(--smallParagraph);
  font-weight: 400;
  color: var(--primaryColor);
  width: 57.563rem;
  text-align: center;
  margin: 0%;
  padding: 3rem 0 4rem;
}
.GradiantText {
  font-weight: 600;
  font-size: var(--subHeading);
  background: var(--textGradiantSecond);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 3rem;
  margin: 0%;
}
.Digit {
  font-size: 130px;
  opacity: 1;
  -webkit-text-stroke: 0.8px var(--primaryColor);
  font-weight: 800;
  color: var(--elementColor);
  text-align: center;
}
.DigitText {
  font-size: var(--bigParagraph);
  font-weight: 800;
  color: var(--primaryColor);
  width: 335px;
}
.DigitWrraper {
  display: flex;
  flex-direction: column;
}
.DigitsRow {
  padding: 4rem 0 14rem;
}
.CenterButtonWrraper {
  display: flex;
  justify-content: center;
}
.ButtonCover {
  padding-bottom: 4rem;
}
.LastBigImage {
  text-align: center;
  overflow: hidden;
}
.BigImage {
  position: relative;
  top: 0.3rem;
}
/* .animation {
  display: flex;
  justify-content: end;
  align-items: flex-end;
} */
.animationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .MainTitle {
    font-size: var(--mainMobHeading);
  }

  .MainParagraph {
    width: auto;
    text-align: justify;
  }
  .GradiantText {
    display: none;
  }
  .SpanImage {
    right: -4.5rem;
  }
  .SpanImage img {
    width: 7.779rem;
  }
  .ContainerWrraperCustom {
    padding-top: 3rem;
    background: var(--elementColor);
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .MainParagraph {
    width: auto;
    text-align: center;
  }
  .ContainerWrraperCustom {
    background: var(--elementColor);
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
