.MainHeading {
  font-size: var(--midHeading);
  font-weight: 800;
  text-align: center;
}
.HeroSectionContainerWrraper {
  background: var(--sidebarColor);
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.HeroSectionChildsCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SmallText {
  font-size: var(--minText);
  font-weight: 600;
  margin: 0%;
  background: var(--textGradiantThird);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}
.PageNumber {
  padding: 0 2rem;
  font-weight: 600;
  font-size: var(--minText);
  user-select: none;
  margin: 0%;
  color: #bcbcbc;
}
.BreadCumb {
  font-size: var(--midText);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 0%;
  padding-top: 1rem;
}
.BreadCumb a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
/* (this for mobile) */
@media screen and (max-width: 600px) {
  .MainHeading {
    font-size: var(--mainMobHeading);
  }
  .BreadCumb {
    padding-top: 0%;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
