.MainHeading {
  font-size: var(--mainHeading);
  font-weight: 800;
  text-align: center;
}
.HeroSectionContainerWrraper {
  background: var(--sidebarColor);
  padding-top: 6.5rem;
  padding-bottom: 6rem;
}
.InputGroupMainWrraper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.HeroSectionChildsCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.InputGroup {
  padding-top: 2rem;
  max-width: 26rem;
}
.GroupInput {
  border: 0.5px solid #f65d61 !important;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
  background: transparent;
}
.GroupInput:focus {
  background: transparent;
}
.GroupInput::placeholder {
  font-weight: 400;
  font-size: var(--minText);
  color: rgba(0, 0, 0, 0.2);
}
.SearchButton {
  background: linear-gradient(180deg, #f65d61 0%, #f16884 53.12%, #fb9c64 100%);
  border-radius: 4px;
  color: #fff;
  border: none !important;
  outline: none !important;
  cursor: pointer;
  width: 3rem;
  text-align: center;
  height: 3rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .MainHeading {
    font-size: var(--mainMobHeading);
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
