.ParagraphSize {
  width: auto;
}
.CategoryWrraper {
  height: 42rem;
  background: var(--sidebarColor);
  border-radius: 9.63573px;
  overflow: hidden;
}
.CategoryHeadingWrrap {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
}
.AllPrLabelWrap {
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.CategoryHeading {
  font-size: var(--midText);
  font-weight: 700;
  color: var(--midColor);
}
.AllPrLabel {
  font-weight: 500;
  font-size: var(--maxText);
  background: var(--textGradiantThird);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  user-select: none;
}
.PageNumber {
  padding: 0 1rem;
  font-weight: 600;
  font-size: var(--minText);
  user-select: none;
  margin: 0%;
  color: #bcbcbc;
  cursor: pointer;
}
.SelectedNumber {
  padding: 0 1rem;
  font-weight: 600;
  font-size: var(--minText);
  background: var(--textGradiantThird);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  margin: 0%;
  cursor: pointer;
}
.PaginationWrraper {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.ActionButtonCover {
  height: 50px;
  width: 50px;
  border: 0.780277px solid #bcbcbc;
  border-radius: 78.0277px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -1rem;
}
.CardModelContainerWrraper {
  padding-top: 6rem;
}
