.CategoryWrraper {
  height: 100vh;
  background: var(--sidebarColor);
  border-radius: 9.63573px;
  position: sticky;
  top: 0;
  overflow-y: scroll;
  padding-bottom: 2rem;
}

.CategoryHeadingWrrap {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
}
.CategoryHeading {
  font-size: var(--midText);
  font-weight: 700;
  color: var(--midColor);
  margin: 0%;
  padding-bottom: 1rem;
}
.AllPrLabelWrap {
  padding-left: 2.5rem;
  padding-bottom: 0rem;
}
.AllPrLabel {
  font-weight: 500;
  font-size: var(--maxText);
  background-clip: text;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  user-select: none;
  margin: 0%;
}
.SubcategoryWrraper {
  padding-left: 1.2rem;
}
.SubcategoryWrraper a {
  color: rgba(0, 0, 0, 0.7);
}
.SubcategoryText {
  margin: 0%;
  font-size: var(--midText);
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.SelectedSubcategoryText {
  margin: 0%;
  font-size: var(--midText);
  margin-bottom: 0.5rem;
  cursor: pointer;
  background: linear-gradient(180deg, #f65d61 0%, #f16684 50.52%, #fa9a64 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (max-width: 600px) {
  .CategoryWrraper {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .CategoryWrraper {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
