.CategoryWrraper {
  height: 42rem;
  background: var(--sidebarColor);
  border-radius: 9.63573px;
  overflow: hidden;
}
.CategoryHeadingWrrap {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
}
.CategoryHeading {
  font-size: var(--midText);
  font-weight: 700;
  color: var(--midColor);
  margin: 0%;
  padding-bottom: 1rem;
}
.AllPrLabelWrap {
  padding-left: 2.5rem;
  padding-bottom: 0rem;
}
.AllPrLabel {
  font-weight: 500;
  font-size: var(--maxText);
  background-clip: text;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  user-select: none;
  margin: 0%;
}
.SubcategoryWrraper {
  padding-left: 1.2rem;
}
.SubcategoryText {
  margin: 0%;
  font-size: var(--midText);
  margin-bottom: 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .CategoryWrraper {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .CategoryWrraper {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
