.GettingStartedCard {
  background: var(--elementColor);
  border-radius: 30px;
  user-select: none;
}
.SimpleHeading {
  font-size: var(--mainHeading);
  margin: 0%;
  font-weight: 800;
  color: var(--primaryColor);
}
.GradiantHeading {
  font-size: var(--mainHeading);
  margin: 0%;
  font-weight: 800;
  background: var(--textGradiant);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LeftSideMainWrraper {
  display: flex;
}
.DiscriptionWrapper {
  padding: 5.5rem 0rem 0rem 3rem;
}
.RightCurve {
  position: relative;
  top: 9rem;
  left: 1.5rem;
}
.ButtonsMainWrraper {
  display: flex;
  padding: 3.5rem 0 6.5rem 5rem;
}
.ButtonCover {
  margin-right: 2.5rem;
}
.ContainerWrraperSpaces {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.WorldImage {
  padding: 0%;
  text-align: end;
}
.WorldImageCover {
  height: 100%;
  overflow: hidden;
}
.WorldImageFluid {
  max-width: 101%;
  height: 101.5%;
}
@media screen and (max-width: 600px) {
  .GettingStartedCard {
    border-radius: 0%;
  }
  .RightCurve {
    display: none;
  }
  .GradiantHeading,
  .SimpleHeading {
    font-size: var(--mainMobHeading);
  }
  .DiscriptionWrapper {
    padding: var(--mobileLayout);
  }
  .ContainerWrraperSpaces {
    padding: var(--mobileLayout);
  }
  .WorldImageFluid {
    max-width: 21rem;
    transform: rotate(90deg);
  }
  .WorldImage {
    padding: 0%;
    text-align: center;
  }
  .ButtonsMainWrraper {
    padding: var(--mobileLayout);
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
/* .earth {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: transparent url("/assets/images/world-web.png");
  background-size: cover;
  box-shadow: inset 0px -20px 50px 10px #00ffff80, 0px 0px 30px 6px #00ffff70;
  transform-style: preserve-3d;
  transform: rotate(20deg);
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 530px 0;
  }
} */
