.ListHeading {
  font-size: var(--mainHeading);
  font-weight: 800;
}
.SpanText {
  background: var(--textGradiantSecond);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ContainerWrraperCardModel {
  padding-left: 1rem;
  padding-top: 4rem;
  padding-right: 0%;
  padding-bottom: 0%;
}
.CategoryName {
  font-size: var(--maxText);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  margin: 0%;
  margin-bottom: 0.4rem;
}
.PostTitle,
.LinkStyle {
  font-size: var(--bigParagraph);
  font-weight: 600;
  text-decoration: none;
  margin: 0%;
  padding-right: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  color: var(--elementColor);
}
.LinkStyle:hover {
  color: var(--elementColor);
}
.PostDate {
  font-size: var(--maxText);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  margin: 0%;
}

.CardModelRow {
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.LineHorizontal {
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
.ButtonOutCover {
  padding-top: 0.5rem;
  padding-left: 0.3rem;
}
.PostImage {
  max-width: 10rem;
}
.BlogsCard {
  display: flex;
}

.ListHeadingSpace {
  padding-left: 2rem;
}
.BlogImg {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.BlogPostTitle .LinkStyle {
  font-weight: 600;
  font-size: 16px;
  margin: 0%;
}
.BlogPostDate {
  font-weight: 600;
  font-size: var(--midText);
  color: rgba(33, 37, 41, 0.4);
  margin: 0%;
  margin-bottom: 0.5rem;
}
.ContainerWrraperBlogCardModel {
  background: var(--sidebarColor);
  border-radius: 10px;
  margin-top: 4rem;
  padding-right: 0%;
  padding-left: 0%;
  padding-top: 2rem;
  margin-left: 2rem;
  padding-bottom: 2rem;
}
.BlogLineHorizontal {
  border: 0.1px solid var(--primaryColor);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.ContainerWrraperRecentItems {
  padding-top: 12rem;
  padding-bottom: 7rem;
}
.PostImageCol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Badge {
  margin-left: 1rem;
  font-size: var(--midText);
  padding: 0.4rem 0.9rem;
  background: #f65d61;
  border-radius: 6px;
  color: var(--primaryColor);
}
.CompanyName {
  margin: 0%;
  font-weight: 700;
  padding-top: 0.5rem;
  font-size: var(--midText);
  color: rgba(0, 0, 0, 0.6);
}
.BlogImageCol {
  display: flex;
  padding-right: 3rem;
  justify-content: flex-end;
  align-items: center;
}
.DetailCol {
  padding-left: 3rem;
}
.HideBlogListOnDesk {
  display: none;
}
.MobileRPRwrraper {
  display: none;
}
.animationSection {
  overflow: hidden;
}
.PostImageS {
  width: 150px;
  object-fit: cover;
  height: 150px;
  object-position: 50% 50%;
}
@media screen and (max-width: 600px) {
  .CardModelRow {
    flex-direction: column-reverse;
  }
  .PostImageCol {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .CardModelRow {
    margin-right: 0%;
    margin-bottom: 3rem;
  }
  .PostDate {
    margin-bottom: 1rem;
  }
  .PostTitle {
    padding-right: 0%;
    margin-bottom: 1rem;
  }
  .LineHorizontal {
    display: none;
  }
  .LineHorizontalMob {
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
  }
  .ListHeading {
    font-size: var(--mainMobHeading);
  }

  .ContainerWrraperBlogCardModel {
    margin-left: 0%;
    margin-top: 3rem;
  }
  .ListHeadingSpace {
    padding-top: 0rem;
  }
  .BlogImageCol {
    padding-right: 0;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    justify-content: flex-start;
  }
  .DetailCol {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .BlogPostTitle {
    margin-top: 1.5rem;
  }
  .CompanyName {
    margin-top: 0.5rem;
    font-size: var(--maxText);
  }
  .BlogsCardModelReverse {
    flex-direction: column-reverse;
  }
  .HideBlogListOnMobile {
    display: none;
  }
  .MobileRPRwrraper {
    padding-left: 0%;
    padding-right: 0%;
  }
  .HideBlogListOnDesk {
    display: block;
  }
  .MobileRPRwrraper {
    display: block;
    overflow: hidden;
  }
  .ContainerWrraperRecentItems {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .ContainerWrraperCardModel {
    padding-top: 2rem;
    padding-right: 0;
  }
  .ListHeadingSpace {
    padding-left: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .PostImageCol {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .CardModelRow {
    margin-right: 0%;
    margin-bottom: 3rem;
  }
  .PostDate {
    margin-bottom: 1rem;
  }
  .PostTitle {
    padding-right: 0%;
    margin-bottom: 1rem;
  }
  .HideBlogListOnMobile {
    display: none;
  }
  .MobileRPRwrraper {
    padding-left: 0%;
    padding-right: 0%;
  }
  .HideBlogListOnDesk {
    display: block;
  }
  .MobileRPRwrraper {
    display: block;
    overflow: hidden;
  }
  .ContainerWrraperRecentItems {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .ContainerWrraperCardModel {
    padding-top: 2rem;
    padding-right: 0;
  }
  .ListHeadingSpace {
    padding-left: 1.5rem;
  }
  .ContainerWrraperBlogCardModel {
    margin-left: 0;
  }
  .ListHeadingSpace {
    padding-left: 2.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
