.ListHeading {
  font-size: var(--mainHeading);
  font-weight: 800;
}
.SpanText {
  background: var(--textGradiantSecond);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ContainerWrraperCardModel {
  padding-left: 1rem;
  padding-top: 4rem;
  padding-right: 0%;
  padding-bottom: 0%;
}
.CategoryName {
  font-size: var(--maxText);
  color: #f65d61;
  margin: 0%;
  margin-bottom: 0.4rem;
}
.PostTitle {
  font-size: var(--bigParagraph);
  font-weight: 600;
  width: 458px;
  margin: 0%;
  margin-bottom: 0.5rem;
}
.PostDate {
  font-size: var(--maxText);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  margin: 0%;
}
.PostDetails {
  padding-left: 2.5rem !important;
}
.CardModelRow {
  margin-bottom: 2rem;
  margin-right: 4rem;
}
.LineHorizontal {
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
.ButtonOutCover {
  padding-top: 3rem;
  padding-left: 0.3rem;
}
.PostImage {
  max-width: 14rem;
}
.BlogsCard {
  display: flex;
  padding-left: 2.5rem;
}
.BlogImageCover {
  width: 23%;
}
.BlogImg {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
.BlogPostDetails {
}
.BlogPostTitle {
  width: 19rem;
  font-weight: 600;
  font-size: 16px;
  margin: 0%;
}
.BlogPostDate {
  font-weight: 600;
  font-size: 14px;
  color: rgba(33, 37, 41, 0.4);
  margin-top: 0.4rem;
}
.ContainerWrraperBlogCardModel {
  background: var(--sidebarColor);
  border-radius: 10px;
  margin-top: 5rem;
  padding-right: 0%;
  padding-left: 0%;
}
.BlogLineHorizontal {
  border: 1px solid var(--primaryColor);
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.ContainerWrraperRecentItems {
  padding-top: 12rem;
  padding-bottom: 7rem;
}
