.ContainerWrraperTestimonial {
  padding-top: 7rem;
  padding-bottom: 6rem;
}
.MainHeading {
  font-size: var(--mainHeading);
  font-weight: 800;
  text-align: center;
  overflow: hidden;
  padding-bottom: 3rem;
}
.Profile {
  display: flex;
  padding-bottom: 1rem;
}
.UserName {
  font-size: var(--minText);
  font-weight: 600;
  margin: 0%;
}
.Designation {
  font-weight: 600;
  font-size: var(--maxText);
  font-style: italic;
  margin: 0%;
  color: rgba(0, 0, 0, 0.5);
}
.ProfileDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.TestimonialCard {
  padding: 1.3rem;
  border: 1px solid var(--gradiantOne);
  border-radius: 20px;
  margin-right: 1rem;
  /* margin-left: 1rem; */
}
.ProfileDescription {
  padding-top: 1rem;
  font-weight: 700;
  font-size: 16px;
}
.MainHeadingBrush {
  display: block;
  position: relative;
  left: 10rem;
  top: -1rem;
}
.rating {
  display: flex;
}
.sliderSection {
  margin: 0;
}
.animationSection {
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .TestimonialCard {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .ContainerWrraperTestimonial {
    padding-top: 2rem;
  }
  .MainHeading {
    font-size: var(--mainMobHeading);
    margin: 0%;
    padding-bottom: 2rem;
  }
  .MainHeadingBrush {
    left: 5rem;
    top: -6px;
  }
  .MainHeadingBrush img {
    max-width: 6rem;
  }
  .ContainerWrraperTestimonial {
    padding-top: 1rem;
  }
  .CustomDots {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: linear-gradient(
      180deg,
      #f65d61 0%,
      #f16684 50.52%,
      #fa9a64 100%
    );
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .TestimonialCard {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
