.ButtonToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primaryColor);
  width: 14rem;
  padding: 0.8rem 1rem;
  font-size: var(--btnText);
  font-weight: 400;
  border-radius: 6.96429px;
  user-select: none;
  cursor: pointer;
}
.LinksWrrap a {
  text-decoration: none;
  color: var(--elementColor);
}
.ButtonToggle:hover {
  animation: pulsee 2s infinite;
}

@keyframes pulsee {
  0% {
    box-shadow: 0 0 0 0 rgba(245, 93, 99, 1);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(245, 93, 99, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(245, 93, 99, 0);
  }
}

.ButtonToggleDark {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--elementColor);
  color: var(--primaryColor);
  width: 14rem;
  padding: 0.8rem 1rem;
  font-size: var(--btnText);
  font-weight: 400;
  border-radius: 6.96429px;
  user-select: none;
  cursor: pointer;
}
.LinksWrrap a {
  text-decoration: none;
  color: var(--elementColor);
}
.ButtonToggleDark:hover {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(245, 93, 99, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(245, 93, 99, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(245, 93, 99, 0);
  }
}

/* mobile */
@media screen and (max-width: 600px) {
  .ButtonToggle,
  .ButtonToggleDark {
    width: 14.872rem;
    font-size: 18px;
    font-weight: 600;
    padding: 0%;
    height: 55px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1080px) {
}
/* leptop */
@media (min-width: 1200px) and (max-width: 1730px) {
}
