.ButtonToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primaryColor);
  width: 14rem;
  padding: 0.8rem 1rem;
  font-size: var(--btnText);
  font-weight: 600;
  border-radius: 6.96429px;
  user-select: none;
  cursor: pointer;
}

.ButtonToggleDark {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--elementColor);
  color: var(--primaryColor);
  width: 14rem;
  padding: 0.8rem 1rem;
  font-size: var(--btnText);
  font-weight: 600;
  border-radius: 6.96429px;
  user-select: none;
  cursor: pointer;
}
/* mobile */
@media screen and (max-width: 600px) {
  .ButtonToggle,
  .ButtonToggleDark {
    width: 14.872rem;
    font-size: 21.6667px;
    font-weight: 600;
    padding: 0%;
    height: 55px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1080px) {
}
/* leptop */
@media (min-width: 1200px) and (max-width: 1730px) {
}
