@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root{
  --layoutSpace:3rem 3rem;
  --mainHeading:48px;
  --subHeading:28px;
  --bigParagraph:18px;
  --smallParagraph:16px;
  --maxText:14px;
  --minText:16px;
  --btnText:21.6667px;
  --otherText:20px;
  --menuText:16px;
  --primaryColor:#ffffff;
  --elementColor:#000000;
  --sideColor:#fff9f9;
  --sideColor2:rgba(244, 96, 108, 0.04);
  --gradiantOne:#F65D61;
  --gradiantTwo:#F16684;
  --gradiantThree:#FA9A64;
  --textGradiant:-webkit-linear-gradient(75deg, #F65C60 0%, #F16583 50%, #FB9C64 100%);
  --textGradiantSecond:linear-gradient(180deg, #F65C60 0%, #F16583 50%, #FB9C64 100%);
  --textGradiantThird:linear-gradient(180deg, #F65D61 0%, #F16684 50.52%, #FA9A64 100%);
}

.ColPaddingRemove{
  padding: 0% !important;
}

/* -------------------------------------------------------------- accordion style ------------------------------------------------------ */

.accordion-button::after{
  margin-left: 0% !important; 
  margin-right: 0%;
  background-image: url('/assets/icons/plus.svg') !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url('/assets/icons/minus.svg') !important;
  margin-bottom: 1rem;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: left;
}
.accordion-button:not(.collapsed) {
  color:var(--elementColor) !important;
  background: transparent !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
