@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --layoutSpace: 3rem 3rem;
  --mainHeading: 48px;
  --subHeading: 28px;
  --bigParagraph: 18px;
  --smallParagraph: 16px;
  --maxText: 14px;
  --midText: 12px;
  --uniqueLabel: 18px;
  --minText: 16px;
  --btnText: 21.6667px;
  --otherText: 20px;
  --menuText: 16px;
  --primaryColor: #ffffff;
  --elementColor: #000000;
  --sidebarColor: #fff9f9;
  --midColor: #ead0d0;
  --sidebarColor2: rgba(244, 96, 108, 0.04);
  --gradiantOne: #f65d61;
  --gradiantTwo: #f16684;
  --gradiantThree: #fa9a64;
  --textGradiant: -webkit-linear-gradient(
    75deg,
    #f65c60 0%,
    #f16583 50%,
    #fb9c64 100%
  );
  --textGradiantSecond: linear-gradient(
    180deg,
    #f65c60 0%,
    #f16583 50%,
    #fb9c64 100%
  );
  --textGradiantThird: linear-gradient(
    180deg,
    #f65d61 0%,
    #f16684 50.52%,
    #fa9a64 100%
  );
  --textGradiantFourth: linear-gradient(180deg, #f65d61 0%, #fb9c64 100%);
}

.ColPaddingRemove {
  padding: 0% !important;
}

/* -------------------------------------------------------------- accordion style ------------------------------------------------------ */

.FaqSectionHome .accordion-button::after {
  margin-left: 0% !important;
  margin-right: 0%;
  background-image: url("/assets/icons/plus.svg") !important;
}
.FaqSectionHome .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/icons/minus.svg") !important;
  margin-bottom: 1rem;
}
.FaqSectionHome .accordion-button {
  font-weight: 300;
  font-size: 14px;
  color: var(--elementColor);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: left;
}
.FaqSectionHome .accordion-button:not(.collapsed) {
  color: #606060;
  font-weight: 400;
  background: transparent !important;
}
.FaqSectionHome .accordion-button:focus {
  box-shadow: none !important;
}

/*  -----------------------------------  CategoriesAccordion -------------------------------------------- */
.CategoriesAccordion .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #000000 !important;
}
.CategoriesAccordion .accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}
.CategoriesAccordion .accordion-button:not(.collapsed):focus {
  color: #000000;
}
.CategoriesAccordion .accordion-item {
  background-color: var(--sidebarColor);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.CategoriesAccordion .accordion-button {
  background-color: var(--sidebarColor);
  padding: 1.5rem 2.5rem;
  font-size: var(--maxText);
}
.CategoriesAccordion .accordion-item:last-child {
  border-bottom: none;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------ */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.rc-pagination {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.rc-pagination ul,
.rc-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rc-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: " ";
}
.rc-pagination-total-text {
  display: inline-block;
  height: 28px;
  margin-right: 8px;
  line-height: 26px;
  vertical-align: middle;
}
.rc-pagination-item {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-right: 8px;
  font-family: Arial;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
  user-select: none;
}
.rc-pagination-item a {
  display: block;
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.85);
  transition: none;
}
.rc-pagination-item a:hover {
  text-decoration: none;
}
.rc-pagination-item:focus,
.rc-pagination-item:hover {
  border-color: #1890ff;
  transition: all 0.3s;
}
.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  color: #1890ff;
}
.rc-pagination-item-active {
  font-weight: 500;
}
.rc-pagination-item-active .SelectedNum {
  padding: 0 1rem;
  font-weight: 600;
  font-size: var(--minText);
  background: var(--textGradiantThird);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  margin: 0%;
}
.rc-pagination-item-active a {
  color: #1890ff;
}
.rc-pagination-item-active:focus,
.rc-pagination-item-active:hover {
  border-color: #40a9ff;
}
.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: #40a9ff;
}
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  outline: 0;
}
.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}
.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
  display: block;
  content: "•••";
  /* color: ; */
}
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Arial;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.rc-pagination-prev,
.rc-pagination-next {
  outline: 0;
}
.rc-pagination-prev button,
.rc-pagination-next button {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  user-select: none;
}
.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  border-color: #40a9ff;
}
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}
.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
  color: #1890ff;
  border-color: #1890ff;
}
.rc-pagination-prev button:after {
  content: "‹";
  display: block;
}
.rc-pagination-next button:after {
  content: "›";
  display: block;
}
.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
  cursor: not-allowed;
}
.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination-slash {
  margin: 0 10px 0 5px;
}
.rc-pagination-options {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}
@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    vertical-align: top;
  }
}
.rc-pagination-options-size-changer.rc-select {
  display: inline-block;
  width: auto;
  margin-right: 8px;
}
.rc-pagination-options-quick-jumper {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
}
.rc-pagination-options-quick-jumper input {
  width: 50px;
  margin: 0 8px;
}
.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link {
  height: 24px;
  background-color: transparent;
  border: 0;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link::after,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.rc-pagination-simple .rc-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}
.rc-pagination-simple .rc-pagination-simple-pager input {
  box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: border-color 0.3s;
}
.rc-pagination-simple .rc-pagination-simple-pager input:hover {
  border-color: #1890ff;
}
.rc-pagination.rc-pagination-disabled {
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item {
  background: hsv(0, 0, 96%);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item a {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border: none;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active {
  background: #006977;
  border-color: transparent;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active a {
  color: #fff;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  background: hsv(0, 0, 96%);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link-icon {
  opacity: 0;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-ellipsis {
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .rc-pagination-options {
    display: none;
  }
}
