@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  scroll-behavior: auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.ColPaddingRemove {
  padding: 0% !important;
}

/* -------------------------------------------------------------- accordion style ------------------------------------------------------ */

.FaqSectionHome .accordion-button::after {
  margin-left: 0% !important;
  margin-right: 0%;
  background-image: url("/assets/icons/plus.svg") !important;
}
.FaqSectionHome .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/icons/minus.svg") !important;
  margin-bottom: 1rem;
}
.FaqSectionHome .accordion-button {
  font-weight: 300;
  font-size: 14px;
  color: var(--elementColor);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: left;
}
.FaqSectionHome .accordion-button:not(.collapsed) {
  color: #606060;
  font-weight: 400;
  background: transparent !important;
  box-shadow: none !important;
}
.FaqSectionHome .accordion-button:focus {
  box-shadow: none !important;
}
.CustomArrow .accordion-button::after {
  background-image: url("/assets/icons/down-arrow.svg") !important;
}
.CustomArrow .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/icons/up-arrow.svg") !important;
  transform: rotate(360deg) !important;
}

/*  -----------------------------------  CategoriesAccordion -------------------------------------------- */
.CategoriesAccordion .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
  font-weight: 700;
  background: linear-gradient(138deg, #f65d61 0%, #f16684 50.52%, #fa9a64 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--maxText);
  background-clip: text;
}
.CategoriesAccordion .accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}
.CategoriesAccordion .accordion-button:not(.collapsed):focus {
  color: #000000;
}
.CategoriesAccordion .accordion-item {
  background-color: var(--sidebarColor);
  border: none;
}
.CategoriesAccordion .accordion-button {
  background-color: var(--sidebarColor);
  padding: 2rem 2.5rem 0;
  font-size: var(--maxText);
}
.CategoriesAccordion .accordion-item:last-child {
  border-bottom: none;
}
.CategoriesAccordion .accordion-button::after {
  background-size: 60% !important;
  transition: none !important;
}

/*  ---------------------- hamburger menu -------------------- */
#nav-icon3 {
  width: 33px;
  height: fit-content;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(180deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 0px;
  right: -8.5rem;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2.66px;
  width: 100%;
  background: var(--elementColor);
  border-radius: 9px;
  opacity: 0.8;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 4px;
  width: 1rem;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 10px;
  width: 1.8rem;
  opacity: 0.6;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
  width: 1.4rem;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* ---------------------------- offcanvas ----------------------------- */

.offcanvas.showing {
  margin-top: 5rem;
  z-index: 1;
}
.offcanvas.offcanvas-start {
  top: 56px !important;
  border-right: none !important;
}
.Highlights .marquee-container {
  overflow-x: visible !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
}

.Highlights {
  padding: var(--layoutSpace);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background: var(--sidebarColor);
  height: 10rem;
  overflow: hidden;
}

/* --------------------- slick slider ---------------------------- */
.slick-dots {
  bottom: -48px !important;
}
.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 100%;
  background: #f0f0f0;
}

.slick-dots.slick-thumb li.slick-active {
  width: 10px;
  height: 10px;
  background: linear-gradient(180deg, #f65d61 0%, #f16684 50.52%, #fa9a64 100%);
  transition: all 1s ease;
}

@media (min-width: 768px) and (max-width: 1080px) {
  #nav-icon3 {
    top: 0rem;
    width: 65%;
  }
  .offcanvas.offcanvas-start {
    width: 100% !important;
  }
}

/* ============================================================== section color change css ======================================================================================= */
.wrapper {
  transition: all 2s ease;
}

.section {
  height: auto;
}
