.SearchHeading {
  text-align: center;
}
.SearchHeadingText {
  font-size: var(--searchHeading);
}
.SpanText {
  font-weight: 800;
}
.SmallText {
  font-size: var(--minText);
  font-weight: 400;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.HeaderContainerWrraper {
  background: var(--sidebarColor);
  padding-bottom: 4.5rem;
  padding-top: 10rem;
}
.IconWrraping {
  position: relative;
  top: -1rem;
}

.PostsWrraper {
  padding: 6rem 12rem;
}

.PageNumber {
  padding: 0 1rem;
  font-weight: 600;
  font-size: var(--minText);
  user-select: none;
  margin: 0%;
  color: #bcbcbc;
  cursor: pointer;
}
.SelectedNumber {
  padding: 0 1rem;
  font-weight: 600;
  font-size: var(--minText);
  background: var(--textGradiantThird);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  margin: 0%;
  cursor: pointer;
}
.PaginationWrraper {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.ActionButtonCover {
  height: 50px;
  width: 50px;
  border: 0.780277px solid #bcbcbc;
  border-radius: 78.0277px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -1rem;
}
/* (this for mobile) */
@media screen and (max-width: 600px) {
  .PostsWrraper {
    padding: 4rem 2rem 2rem;
  }

  .SearchHeadingText {
    padding-top: 2rem;
    font-weight: 400;
    font-size: 21.9143px;
  }
  .ActionButtonCover {
    height: 35px;
    width: 35px;
    top: -4px;
    margin-left: 1rem;
  }
  .PrevButton {
    margin-left: 0%;
  }
  .CenterPagination {
    display: flex;
    justify-content: center;
  }
  .PaginationWrraper {
    width: fit-content;
    padding-top: 0%;
  }
  .PageNumber {
    padding: 0 0.3rem;
  }
  .SelectedNumber {
    padding: 0 0.3rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .PostsWrraper {
    padding: 4rem 2.5rem 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
