.ViewPostContainerWrraper {
  background: var(--sidebarColor);
}
.BreadCumb {
  font-weight: 700;
  font-size: var(--maxText);
  background: var(--textGradiantThird);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 1.5rem;
  margin: 0;
}
.PostTitle {
  padding-left: 10rem;
  padding-right: 10rem;
  font-weight: 700;
  font-size: var(--anonymText);
}
.IconsWrraper {
  color: rgba(0, 0, 0, 0.6);
}
.IconSpace {
  margin-right: 1rem;
}
.CreatedAt {
  padding: 1.5rem 0;
  font-weight: 400;
  font-size: var(--minText);
  color: rgba(0, 0, 0, 0.5);
}
.HeroSectionRow {
  text-align: center;
}
.ArrowIcon {
  position: relative;
  left: -1rem;
  top: -1rem;
}
.ContentWrraper {
  padding: 6rem 12rem;
}
.InterestedContainerWrraper {
  background: var(--sidebarColor);
  padding-top: 5rem;
  margin-bottom: 3rem;
}
.InterestedMainHeading {
  font-size: var(--mainHeading);
  font-weight: 800;
  text-align: center;
  overflow: hidden;
  padding-bottom: 3rem;
}
.InterstedMainHeadingBrush {
  display: block;
  position: relative;
  left: 10rem;
  top: -1rem;
}
.BetweenSpace {
  padding-left: 4rem !important;
}
.customcardmodelrow {
  margin-right: 0 !important;
}
@media screen and (max-width: 600px) {
  .ArrowIcon {
    display: none;
  }
  .PostTitle {
    padding: 0%;
  }
  .ContentWrraper {
    padding: var(--mobileLayout);
  }
  .PostTitle {
    font-size: 22px;
    max-width: 17.183rem;
  }
  .DetailSectionCol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .BreadCumb {
    font-size: var(--midText);
  }
  .ViewPostContainerWrraper {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .InterestedMainHeading {
    font-size: var(--mainMobHeading);
  }
  .InterstedMainHeadingBrush {
    left: 5.9rem;
    top: -9px;
  }
  .BrushMobImage {
    width: 98px;
  }
  .InterestedContainerWrraper {
    padding-top: 3rem;
  }
  .BetweenSpace {
    padding-left: 1rem !important;
  }
  .InterestedContainerWrraper {
    margin-bottom: 0%;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .ArrowIcon {
    display: none;
  }
  .PostTitle {
    padding: 0%;
  }
  .ContentWrraper {
    padding: var(--mobileLayout);
  }
  .PostTitle {
    font-size: 22px;
    max-width: 40rem;
  }
  .DetailSectionCol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .BreadCumb {
    font-size: var(--midText);
  }
  .ViewPostContainerWrraper {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .InterestedMainHeading {
    font-size: var(--mainMobHeading);
  }
  .InterstedMainHeadingBrush {
    left: 5.9rem;
    top: -9px;
  }
  .BrushMobImage {
    width: 98px;
  }
  .InterestedContainerWrraper {
    padding-top: 3rem;
  }
  .BetweenSpace {
    padding-left: 3rem !important;
  }
  .InterestedContainerWrraper {
    margin-bottom: 0%;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
